<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
<!--        <form method="post" action="/AppJisuan/insertname">-->
<!--            {% csrf_token  %}   &lt;!&ndash; 防止跨站攻击 &ndash;&gt;-->
<!--            <input type="text" name="username"> &lt;!&ndash; 后端通过name拿到数据 &ndash;&gt;-->
<!--            <button type="submit">提交</button>-->
<!--        </form>-->
<!--        <br/>-->
        <p>{{ username }}</p>
    </body>
<!--<iframe src="App2\templates\index2.html" scrolling="yes">-->
</html>
