td.highlight {border: none !important;padding: 1px 0 1px 1px !important;background:  #26B99A !important;overflow:hidden;font-weight:bold;}  
td.highlight a {background: #26B99A  !important;  border: 1px #88a276 solid !important;}  
	
	