body{
    height: 100%;
    width: 1100px;
    /* background: #fff; */
    background-color: rgba(225, 225, 225, 0.59);
    text-align: center;
    min-height: 910px;
    margin: 0px auto;
    /* margin-bottom: 0; */
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    overflow-x: hidden;
}
html{background-color:#607D8B;/*background: url(/static/img/rpc_debug/trianglify1.png);*/background-attachment: fixed;}
#top{
    height: 65px;
    width: 1100px;
    position: fixed;
    background-color: #fff;
    top: 0;
    color: #000000;
    text-align: left;
    z-index: 10;
    box-shadow: 3px 1px 6px 0 rgba(100, 100, 100, 0.3);
}
.topbtbar{

margin-top: 25px;

margin-left: 300px;
}
._tab{
    width: 1100px;
    margin-top: 60px;
    text-align: left;
    /* background-color: #e1e1e1; */
}
    
.bot{
    font-size: 35px;
    position: absolute;
    top: 870px;
}

#btbar{
    position: relative;
    top: -368px;
    display: none;
    font-size: 20px;
    left: 590px;
    height: 0;
    width: 500px;
}

#sendbt{
    position: relative;
    /* top: -24px; */
    height: 0;
}
.bar{
    font-size: 20px;
    top: 2px;
    display: inline-block;
}

#times,#sleeptime,#runtimes{

    width: 30px;
    background: transparent;
    height: 20px;
    font-size: 20px;
    text-align: center;
    color: #F44336;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.outleft{
    padding: 10px 0px 10px 10px;
    background-color: white;
    width: 460px;
    margin: 20px 20px 20px 50px;
    height: 820px;
    float: left;
    border: solid 1px #aaa;
}
.left{
    overflow-y: auto;
    max-height: 90%
}
.clearfloat{
clear:both; 
float:none; 
height:0; 
overflow:hidden

}
.right{

    
    
}
.righttop{
    background-color: white;
    width: 460px;
    height: 510px;
    float: right;
    padding: 10px 0px 10px 10px;
    margin: 20px 55px 20px 0;
    border: solid 1px #aaa;
}

#name{
    max-width: 70%;
    word-break: break-all;
    border-radius: 7px;
    background-color: #383838;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    padding: 2px 5px;
    font-size: 10px;
    display: none;
}
.rec{max-width: 70%;word-break:break-all;margin: 3px 0 3px 0;border-radius: 0 10px 10px 10px;background-color: #fcffbe;padding: 8px 8px 12px 8px;line-height: 15px;float: left;cursor: pointer;}


.send{float: right;max-width: 70%;word-break:break-all;margin: 3px 0px 3px 0;border-radius: 10px 0 10px 10px;background-color: #00bcd4;padding: 8px 8px 12px 8px;line-height: 15px;cursor: pointer;}


.left_triangle{
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: #fcffbe #fcffbe hsla(187, 100%, 42%, 0) rgba(0, 188, 212, 0);
    position: relative;
    top: 3px;
    float: left;
    left: 4px;
    }  
.right_triangle{
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: #00bcd4 rgba(247, 234, 121, 0) rgba(247, 234, 121, 0) #00bcd4;
    position: relative;
    top: 3px;
    float: right;
    margin-right:10px;
    left: -1px;
    }
        
        
.json-editor{margin-top: 5px;height: 84%;overflow-y: auto;margin-left: 0;padding: 0;padding-left: 20px;}

.json-editor .property{
    max-width: 100px;


}
.json-editor .value {
    background-color: #fcffbe;
    max-width: 50%;
}
.appender .property{
    height:0;
    width:0;
    display: none;

}

.hvr-reveal:before {

    border-radius: 15px;
}
.oh{
cursor: pointer;
}

.oh:hover{

color: #F44336;

}
.row:hover{

background-color: rgb(225, 225, 225);
}

#report{
    background-color: white;
    width: 460px;
    height: 260px;
    float: right;
    padding: 10px 0px 10px 10px;
    position: relative;
    border: solid 1px #aaa;
    margin: 8px 55px 20px 0;
}

.toptab{
    display: inline-block;
    color: #000;
    /* background-color:rgba(255, 235, 59, 0.52); */
    /* margin: 0 0 0 20px; */
    padding: 10px;
    /* width: 40px; */
    /* border-radius: 10px 10px 0 0; */
    position: relative;
    /* top: 10px; */
    /* text-shadow: 1px 1px 1px #607D8B; */
}
.toptab:hover{

cursor: pointer;

}
.ontoptab{
    background: #eaeaea;
    color: #000000;
    border-bottom-color: #00bcd4;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
.hvr-bounce-to-top:before {

background: #00bcd4;

/* border-radius: 10px 10px 0 0; */
}

.hvr-bounce-to-top:hover{
    color:#000000;

}
.lefttab{

position: absolute;

top: 60px;

margin: 10px;
}

#script{
display:none;

}


.leftbt{
    padding: 10px 9px;
    /* background: #e0dfdf; */
    /* border-radius: 10px 0px 0px 10px; */
    writing-mode: vertical-lr;
    margin: 10px 0;
    /* border: solid 1px #aaa; */
    color:#888;
}
.leftbt:hover{
    cursor: pointer;
    /* color:#4CAF50; */
    background-color: #eaeaea;
}
.onleftbt{
    color: #2b627d;
    border: solid 1px #aaa;
    border-right-color: #fff;
    background: #fff;
}


#RPClist{
display:none;
padding-top: 10px;
}


#Scriptlist{

display:none;
padding-top: 10px;
}

#Filtlist{
display:none;
padding-top: 10px;

}

#Newrpclist{
display:none;
padding-top: 10px;
}

#help{
display:none;
padding-top: 10px;
}


.rangebt{
    display: inline-block;
    background-color: #CDDC39;
    border-radius: 15px;
    padding: 2px 4px;

}

.s_box{

    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: block;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;


}

.s_box_in{
    margin: 20% 35%;
    background-color: #fff;
    /* border-radius: 15px; */
    padding: 30px;
    width: 350px;
}
#editRange,#editToRPClist,#editSaveScript{
    display:none;

}
#retip{
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ff4f4f;
    padding: 5px 30px;
    color: white;
    border-radius: 15px;
    display:none;
}

#keyname{
    background-color: #383838;
    border-radius: 7px;
    margin: 0 40px;
    padding: 3px;
    padding-bottom: 6px;
    color: white;
}

.boxbt{
    font-size: 20px;
    display: inline-block;
    background-color: #00bcd4;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}
.boxbt:hover{
font-size: 20px;
color: #F44336;
}
.s_box_in input{
    height: 20px;
    font-size: 20px;
}
.xbt{
    color: red;
    font-size: 30px;
    top: -40px;
    left: 192px;
}
.mid{
    padding: 15px;
    background-color: white;
    width: 960px;
    margin: 10px 50px;
    min-height: 800px;
    border: solid 1px #aaa;
}
.inmid{

overflow-y: auto;

height: 800px;
}
.x{
    color: red;
    display: inline-block;
}
.rpclist_name{
    word-break: break-all;
    /* border-radius: 7px; */
    /* background-color: #00BCD4; */
    color: #383838;
    font-weight: bold;
    height: 20px;
    padding: 2px 10px;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    width: 28%;
    text-align :center;
}
.rpclist_rpc{border: dashed #00bcd4 1px;display:none;word-break: break-all;}
.rpclistbar,.rpclistbar div{

display: inline-block;

}
.rpclistbar{
     width: 30%;
     text-align: center;
}
.userinfo{
    position: absolute;
    right: 25px;
    top: 37px;
    -moz-box-shadow:    0px -3px 11px 0px rgba(50, 50, 50, 0.65);
}
.userinfo:hover #exbt{

    top: 0px;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari Ã¥â€™Å’ Chrome */
    -o-transition: all 0.5s; /* Opera */
}
#username{
    background-color: #ffffff;
    padding: 2px 20px 5px 20px;
    border-radius: 7px 7px 0 0;
    z-index: 10000;
    position: relative;
    -moz-box-shadow:    0px -3px 4px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow:    0px -3px 12px 0px rgba(50, 50, 50, 0.19);
    box-shadow:         0px -3px 12px 0px rgba(50, 50, 50, 0.19);
}
#exbt{
    top: -23px;
    position: relative;
    cursor: pointer;
    background-color: #5bc0de;
    padding: 2px 20px 5px 20px;
    border-radius: 0 0 7px 7px;
    box-shadow: 3px 1px 6px 0 rgba(100, 100, 100, 0.3);
}
#exbt>a{
    text-decoration:none;
    color:#fff;
}
.title{
    font-size: 30px;
    position: absolute;
    /* left: -50px; */
    /* background: #fff; */
    padding: 4px 30px 10px 20px;
    /* padding: 0; */ 0 */
    height: 50px;
    /* height: 50px; */
 }

#ws_state{
    color: white;
    position: absolute;
    left: 150px;
    top: 40px;
}
#ws_state:hover{

    color: white;

}
#editbt{
    top: -464px;
    position: relative;
    left: 320px;
    height: 0;
}

.onedit{
    background-color: #e1e1e1;
    border-bottom: dashed #00bcd4 1px;
}

.json-editor .item.object > .property{

background-color: #ffffff;

border: solid 1px #81deff;

color: #000;
}
.json-editor .item.array  > .property{

background-color: #ffffff;

border: solid 1px #81deff;

color: #000;
}
.json-editor .item.string > .property{
    background-color: #ffffff;
    border: solid 1px #81deff;
    color: #000;
}
.json-editor .item.number > .property{
    background-color: #ffffff;
    border: solid 1px #81deff;
    color: #000;
}
table{
    width: 100%;
    }
.mid > .row,.inmid > .row{
    border-bottom: solid #aaa 1px;
}

#chart1,#chart2{
    width: 220px;
    height: 270px;
    display: inline-block;
}

#report a{
cursor: pointer;
}
#report a:hover{
color:#5bc0de;
text-decoration: underline;
}

.txtc{

border-bottom: rgba(244, 67, 54, 0.29) solid 1px;

/* border-top: #f44336 dashed 1px; */

text-align: center;

color: rgb(244, 99, 54);
}

.nice-select{

margin-left: 180px;

top: 34px;

margin-right: 20px;

px; */

/* font-size: 30px; */

width:;

border-bottom: solid #00bcd4 5px;
.title

a{     font-size: 14px;

top: -20px;

position: relative; }
.title

a{     font-size: 14px;

top: -20px;

position: relative; }
}
.tip{color: #efa700;border: solid #f0ad4e 1px;background-color: #fff7c3;}
#chartbt{
    position: relative;
    top: -30px;
    
    }
#startbt{background-color: #00bcd4;border-radius: 15px;line-height: 50px;margin: 40px 330px;text-align: center;font-size: 25px;color: #383838;width: 280px;cursor: pointer;}

.nice-select.small{

font-size:15px;
box-shadow:0px -3px 12px 0px rgba(50, 50, 50, 0.19);
/* background-color: #eaeaea; */
}
#mogu{

display:none;
}

.title a{
    font-size: 14px;
    top: -20px;
    position: relative;
}
#moreinfo{
    background:#fff;
    margin: 60px 330px;
    position: absolute;
    top: 235px;
    width: 700px;
    height: 330px;
    /* border-radius: 20px 0 20px 20px; */
    padding: 10px 20px;
    box-shadow: 0 0 100px rgb(0, 0, 0);
    padding-right: 30px;
-webkit-box-shadow: 0px 5px 30px 10px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    0px 5px 30px 10px rgba(50, 50, 50, 0.36);
box-shadow:         0px 5px 30px 10px rgba(50, 50, 50, 0.36);
}

#moreinfo > div{overflow: auto;height: 100%;width: 50%;}
.path{display: inline-block;background: #f9ffdc;/* line-height: 20px; */padding: 0 8px;margin: 2px;border-radius: 6px 0 0px 6px;width: 80%;}
.count{display: inline-block;border-radius: 0px 6px 6px 0px;background: rgb(249, 249, 249);width: 10%;text-align: center;}

#chart3{width: 300px;background: #e1e1e1;height: 300px;position: absolute;margin-left: 740px;top: 320px;}

.sanjiao{
top: 520px;
    left: 790px;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;

}
#moreinfo + .xbt{
    top: 220px;
    left: 510px;
}
.on{

    background-color: rgb(225, 225, 225);
}


.helptitle{
    font-family: "Microsoft YaHei";
    background-color: #00BCD4;
    color: white;
    padding: 10px;
}